{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}
  <div class="page-header">
    {% if object %}
        <h1>Edit {{object.brand}}</h1>
    {% else %}
        <h1>Add Rims</h1>
    {% endif %}
    <img src="{% static 'images/custom-rim-logo.png' %}" alt="A colorful rim" />
  </div>
  <form action="" method="post" enctype="multipart/form-data" class="form-container" autocomplete="off">
    {% csrf_token %}
    <div class="form-fields">
      {% for field in form %}
        <div class="form-row">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="error">{{ field.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>    
    <button type="submit" class="btn submit">Submit!</button>
  </form>

  {% endblock %}

