{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/cars/car-detail.css' %}">
{% endblock %} 
{% block content %}
<section class="car-container">
   <div class="car-details">
      <h1>{{ car.make }}</h1>
        <p> {{ car.model }} </p>
        <p> {{ car.year }}</p>
        {% if car.image %}
        <img class="car-image" src="{{ car.image.url }}" alt="{{ car.make }}" />
        {% else %}
        <img src="{% static 'images/classic-garage.png' %}" alt="default image" />
        {% endif %}

        <div class="car-control">
          <a href="{% url 'car-update' car.id %}" class="btn edt">Edit</a>
          <a href="{% url 'car-delete' car.id %}" class="btn dlt">Delete</a>
        </div>
   </div>
</section>

<div class="info-container">
  <section class="info">
    <div class="subsection-title">
       <h2>Extended Vehicle Information</h2>
    </div>
    <table>
      {% if car.info_set.exists %}
        <thead>
            <tr>
                <th>Color</th>
                <th>Mileage</th>
            </tr>
        </thead>
        {% endif %}
       <tbody>
           {% for info in car.info_set.all %}
             <tr>
                <td>{{info.color}}</td>
                <td>{{info.mileage}}</td>
             </tr>
           {% endfor %}  
       </tbody>
    </table>
  </section>
</div>

<!-- <section class="rims">
  <div class="subsection-title">
    <h2>Rims</h2>
  </div> -->
  
  <h2>{{ car.year }} {{ car.make }} {{ car.model }}'s Custom Rims</h2>
  <div class="subsection-content">
   {% if car.rims.count %}
    {% for rim in car.rims.all %}
      <div class="rim-container">
        <div class="color-block"></div>
        <a href="{% url 'rim-detail' rim.id %}">
           <p>{{ rim.diameter }} {{ rim.brand }}'s </p>
        </a>
    </div>
    {% endfor %}
   {% else %}
    <p class="no-rims">Add Rims to your {{ car.year }} {{ car.make }} {{ car.model }}</p>
    {% endif %}
  </div>

  <h3>Available Rims</h3>
  <div class="subsection-content">
    {% if rims.count %}
      {% for rim in rims.all %}
        <div class="rim-container">
         <div class="color-block">
          <a href="{% url 'rim-detail' rim.id %}">
             <p>{{ rim.diameter }} {{ rim.brand }}'s</p></div>
          </a>
          <form action="{% url 'associate-rim' car.id rim.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn submit">Add Custom Rims</button>
          </form>
        </div>
      {% endfor %}  
    {% else %}
      <p class="added-rims"> {{ car.year }} {{ car.make }} {{ car.model }} already has {{ rim.diameter }} {{ rim.brand }}'s for its custom wheels. </p>
    {% endif %}
  </div>
</section>

{% if not car.info_set.all %}
<h3>Add Extended Info</h3>
<form 
   action="{% url 'add-info' car.id %}" 
   method="post" 
   class="subsection-content" 
   autocomplete="off">
  {% csrf_token %}
  {{ info_form.as_p }}
  <button type="submit" class="btn submir">Add Info</button>
</form>
{% endif %}

{% endblock %}
