{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" 
/>
{% endblock %} 
{% block content %}
<div class="page-header">
  <h1>Sign Up</h1>
  <img src="{% static 'images/transparent-logo.png' %}" alt="A classic car" />
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <div class="form-fields">
    {% for field in form %}
      <div class="form-row">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="error">
            {{ field.errors|striptags }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>  
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}